$color-primaryblue: #2e74b7;
$color-darkblue: #181d2a;
$color-skyblue: #95d3e9;
$color-skyblue-gradient:#4B6A75;
$color-accent-grey: #a9b7cb;
$color-primary-yellow: #efd604;
$color-white: #ffffff;
$color-black-transparent: rgba(0, 0, 0, 0.5);




// 

h1{
    font-family: 'roboto condensed';
}

//Color scheme
.primaryblue{
    color: $color-primaryblue;
}

.bg-primaryblue{
    background-color: $color-primaryblue;
}

.darkblue{
    color: $color-darkblue;
}

.bg-darkblue{
    background-color: $color-darkblue;
}

.skyblue{
    color:  $color-skyblue;
}

.bg-skyblue{
    background-color:  $color-skyblue;
}

.accentgrey{
    color: $color-accent-grey;
}

.bg-accentgrey{
    background-color: $color-accent-grey;
}

.primaryyellow{
    color: $color-primary-yellow;
}

.bg-primaryyellow{
    background-color: $color-primary-yellow;
}

.bg-alphadark{
    background-color: $color-black-transparent !important;
}

.primarybluegradient{
    background-image:linear-gradient($color-primaryblue, $color-skyblue);
}

.primarybluegradientr{
    background-image:linear-gradient(to top, $color-primaryblue, $color-skyblue);
}

.greygradient{
    background-image:linear-gradient($color-white, rgb(250, 250, 250), $color-white);
}
